{% extends 'base.html.twig' %}

{% block body %}
    <div class="flex items-center flex-wrap px-2 py-4 bg-gray-300">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="flex items-center flex-shrink-0 ml-6">
                <button class="bg-blue-400 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded" onclick="location.href='{{ path('app_new_ad') }}';">Naujas skelbimas</button>
            </div>
        {% endif %}
        <div class="w-full block flex-grow flex lg:w-auto justify-end mr-6">
            <div>
                <input class="rounded w-64 py-2 px-3" id="search" type="text" placeholder="Įveskite paieškos frazę">
            </div>
            <div class="pl-2">
                <input class="rounded w-40 py-2 px-3" id="city" type="text" placeholder="Miestas">
            </div>
            <button class="pl-2">
                <span class="material-icons bg-blue-400 hover:bg-blue-500 py-2 px-2 rounded">search</span>
            </button>
        </div>
    </div>

    <div style="width: 80%; margin: 0 auto;">
        {% for success in app.flashes('success') %}
            <div class="bg-green-100 rounded-lg p-4 mb-4 text-sm text-green-700 dark:bg-green-200 dark:text-green-800" role="alert">
                <span class="font-medium">{{ success }}</span>
            </div>
        {% endfor %}

        <h1 class="text-red-500">Main page</h1>

    </div>
{% endblock %}